input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border-color: #843534 !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #616161 !important;
    background-color: #fff !important;
    border: 1px solid #ababab !important;
}

input.parsley-error:focus,
select.parsley-error:focus,
textarea.parsley-error:focus {
    border-color: #843534 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}